.map-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Default height */
}

.map-container.custom-height {
  height: var(--map-height, 100vh);
}

.map-container.full-height {
  height: 100vh;
}

.map-view {
  height: 100%;
  width: 100%;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 1000;
}

.red-dot-marker {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.crosshair::before,
.crosshair::after {
  content: '';
  position: absolute;
  background-color: red;
}

/* Horizontal line */
.crosshair::before {
  width: 20px;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Vertical line */
.crosshair::after {
  width: 2px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Location info panel */
.location-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  z-index: 1000;
  color: #000;
  text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff;
}

.k-slider-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 10px;
}

.k-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  cursor: pointer;
}

.k-slider:hover {
  opacity: 1;
}

.k-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #555;
}

.k-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #555;
}

